<h4 class="pb-3 mt-4"><%= title %></h4>
<div class="row">
<% obj.each do |event| %>
  <div class="col-sm-3 mb-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title border-bottom pb-2"><%= link_to event.name, event_path(event) %></h5>
        <p class="card-text"><%= event.description %></p>
        <p><strong>Location: </strong><small class="card-text"><%= event.location %></small></p>
        <p><strong>Date: </strong>
        <small class="card-text">
            <strong><%= event.date.to_s.split(' ').first %> </strong>
            <em><%= event.date.to_s.split(' ')[1] %></em>
        </small>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>