<div class="container">
  <div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="text-center">Create Event</h1>
      
      <%= form_for(@event) do |f| %>
        <div class="form-group">
            <%= f.text_field :name, autofocus: true, placeholder: "Title of the Event", class: "form-control"  %>
        </div>
        <div class="form-group">
            <%= f.text_area :description, placeholder: "Event Description", class: "form-control"  %>
        </div>
        <div class="form-group">
            <%= f.text_field :location, placeholder: "Location of the event", class: "form-control"  %>
        </div>
          <div class="form-group">
            <%= f.datetime_select :date, :ampm => true, :minute_step => 15 %>
        </div>
        <div class="actions">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
